
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tabibito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<div class="container w-50">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h2>Login</h2>

<form action="/auth/login" method="post">
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Email:
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Password:
  <input type="password" name="password" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="text-center">
<button type="submit" class="btn btn-secondary">Login</button>
<br>
<br>
Don't have an account? Click <a href="/auth/signup">here</a> to sign up
</div>
  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>

</div>
</div>
</div>
</div>

