<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

You have been logged out 
<br>
<a href="/auth/login">Sign back in</a>

</div>
</div>
</div>
</div>