
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tabibito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="container w-50">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h2>Sign Up</h2>
<h6>*All fields are required</h6>
<form action="/auth/signup" method="post">
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">First Name:
  <input type="text" name="firstName" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Last Name:
  <input type="text" name="lastName" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Username:
  <input type="text" name="userName" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Email:
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="mb-3">
  <label class="form-control" id="exampleFormControlInput1">Password:
  <input type="password" name="password" class="form-control" id="exampleFormControlInput1">
  </label>
</div>
<div class="text-center">
  Password needs to have at least 6 chars and must contain at least one number, one lowercase and one uppercase letter.
<br><button type="submit" class="btn btn-secondary">Create Account</button>

<br>


  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
</div>
</div>
</div>
</div>
</div>