
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tabibito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="fw-light">Welcome to Tabibito</h1>
      <p class="lead">What does Tabibito mean? 旅人[たびびと] is the Japanese word for traveler. This is a site dedicated to travelers of all kinds to share their experiences and talk about everything relating to traveling.

   
   <form action="/auth/login" method="post">

<label>Email
    <input type="email" name="email">
</label>
<br>
<label>Password
    <input type="password" name="password">
</label>
<br>
<button type="submit">Login</button>
<br>
Don't have an account? Click <a href="/auth/signup">here</a> to sign up
  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
   
    </div>
    </div>
  </div>
</div>

