  <nav>
      <a href="/">Home</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      {{!-- <a href="/auth/logout">Logout</a> --}}
      {{!-- <a href="/blog/add">Add New Blog</a> --}}
    </nav>

<h1>Welcome to Tabibito</h1>

<p>What does Tabibito mean? 旅人[たびびと] is the Japanese word for traveler. This is a site dedicated to travelers of all kinds to share their experiences and talk about everything relating to traveling.</p>

<p>Please log in to read all the wonderful stories from our community of travelers. If you don't have an account, it's free to sign up, so what are you waiting for?</p>