<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
      <a href="/">Home</a>
    <a href="/blog/home">Blog</a>
    {{{body}}}
  </body>
</html>
