<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h2>Add Post</h2>
<div class="mb-3">
  <form action="/blog/add" method="post" enctype="multipart/form-data">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" name="title" class="form-control" id="exampleFormControlInput1">
</div>
<label for="location">Location:</label>

<select name="location" id="location">
  <option value="africa">Africa</option>
  <option value="antartica">Antartica</option>
  <option value="asia">Asia</option>
  <option value="europe">Europe</option>
  <option value="north america">North America</option>
  <option value="south america">South America</option>
</select>
<div class="mb-3">
  <label for="post" class="form-label">Post</label>
  <textarea class="form-control" name="post" id="text" rows="10" cols="50"></textarea>
</div>
<div class="mb-3">
  <label for="image" class="form-label">Upload Image</label>
  <input type="file" name="imageUrl" />
  <br>
<button type="submit">Post</button>
  </form>
</div>
</div>
</div>
</div>
</div>