{{!-- // title: String,  
// date: Date,
// author: { type: Schema.Types.ObjectId, ref: "User"},
// post: String --}}

<h2>Add Post</h2>

{{!-- <form action="/blog/add" method="post">

<label>Title
<input id="title" type="text" name="title">
</label>
<br>
<label>Location</label>
<select name="location" id="location">
<option value="Africa">Africa</option>
<option value="Antartica">Antartica</option>
<option value="Asia">Asia</option>
<option value="Australia">Australia</option>
<option value="Europe">Europe</option>
<option value="North America">North America</option>
<option value="South America">South America</option>
</select>
<br> 
<label>
<textarea name="post" cols="75" rows="30"></textarea>
</label>
<br>
<button type="submit">Post</button>

</form> --}}


<div class="mb-3">
  <form action="/blog/add" method="post" enctype="multipart/form-data">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<label for="location">Location:</label>

<select name="location" id="location">
  <option value="africa">Africa</option>
  <option value="antartica">Antartica</option>
  <option value="asia">Asia</option>
  <option value="europe">Europe</option>
  <option value="north america">North America</option>
  <option value="south america">South America</option>
</select>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post</label>
  <textarea class="form-control" name="post" id="exampleFormControlTextarea1" style="'height: 100px"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Upload Image</label>
  {{!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> --}}
  <input type="file" name="imageUrl" />
  <br>
<button type="submit">Post</button>
  </form>
</div>