<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blog/home">Tabibito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blogs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/home">Most Recent</a></li>
            <li><a class="dropdown-item" href="/blog/add">Add a Post</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Locations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/location/africa">Africa</a></li>
            <li><a class="dropdown-item" href="/blog/location/antartica">Antartica</a></li>
            <li><a class="dropdown-item" href="/blog/location/asia">Asia</a></li>
            <li><a class="dropdown-item" href="/blog/location/europe">Europe</a></li>
            <li><a class="dropdown-item" href="/blog/location/north-america">North America</a></li>
            <li><a class="dropdown-item" href="/blog/location/south-america">South America</a></li>
          </ul>
        </li>
  </div>
  </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="/users/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        </ul>
        </div>

      </ul>
  
</nav>
<br>

<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<h2>Add Post</h2>
<div class="mb-3">
  <form action="/blog/add" method="post" enctype="multipart/form-data">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" name="title" class="form-control" id="exampleFormControlInput1">
</div>
<label for="location">Location:</label>

<select name="location" id="location">
  <option value="africa">Africa</option>
  <option value="antartica">Antartica</option>
  <option value="asia">Asia</option>
  <option value="europe">Europe</option>
  <option value="north america">North America</option>
  <option value="south america">South America</option>
</select>
<div class="mb-3">
  <label for="post" class="form-label">Post</label>
  <textarea class="form-control" name="post" id="text" rows="10" cols="50"></textarea>
</div>
<div class="mb-3">
  <label for="image" class="form-label">Upload Image</label>
  <input type="file" name="imageUrl" />
  <br>
<button type="submit" class="btn btn-secondary">Post</button>
  </form>
</div>
</div>
</div>
</div>
</div>