<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-2">
<h2>{{title}}</h2>

<form action="/blog/edit/{{_id}}" method="post">

<label>Title
<input id="title" type="text" name="title" value="{{title}}">
</label>
<br>
<label>
<textarea name="post" cols="75" rows="30">{{post}}</textarea>
</label>
<br>
<button type="submit">Edit Post</button>

</form>
</div>
</div>
</div>
</div>